<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cybersix.markme">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigationBar"
            android:label="@string/title_activity_navigation_bar"></activity>
        <activity
            android:name=".SignupActivity"
            android:parentActivityName=".LoginActivity" />
        <activity android:name=".AccountSettingsActivity"></activity>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".PatientAssignmentActivity" />
        <activity android:name=".ListFragment" />
        <activity android:name=".ProblemListFragment" />
        <activity android:name=".RecordListFragment" />
        <activity android:name=".PatientListFragment" android:exported="true"></activity>
        <activity android:name=".RecordInfoActivity"></activity>
        <activity android:name=".BodyActivity" android:exported="true"></activity>
        <activity android:name=".LiveCameraActivity" android:exported="true"></activity>
    </application>

</manifest>
